@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@1,200;1,700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn {
  position: fixed;
}
.toasts {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.toast {
  border: 1px solid black;
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
.toast.type1 {
  background-color: blue;
}
.toast.type2 {
  background-color: red;
}
.toast.type3 {
  background-color: green;
}
